body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 90%;
    transition: transform 0.3s ease, border 0.3s ease;
    border: 5px solid transparent; /* Initial transparent border */
}

.container:hover {
    transform: translateY(-10px);
    border-color: #ffcccb; /* Light pink shade for border */
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

input:focus {
    border: 1px solid #74ebd5;
    outline: none;
}

button {
    background-color: #2b3d4c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffcccb; /* Light pink shade */
}

#image-container {
    margin-top: 20px;
}

#image-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
